$black : rgba(36, 34, 34, 0.212);
$green : rgba(15, 148, 15, 0.432);
$redOpen : rgba(209, 14, 95, 0.644);
$blue : rgba(21, 146, 230, 0.596);
$yellow : rgba(207, 176, 0, 0.548);
$purple : rgba(91, 15, 214, 0.534);
$redClear : rgba(243, 59, 35, 0.541);
$white : rgb(243, 242, 242);

#titleContainer{
    width: 100%;
    height: 10em;
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 5em;
        font-weight: bold;
        font-variant: small-caps;
        color: $white;
        text-shadow: 
        2px 2px 0 $green,
        4px 4px 0 $redOpen,
        6px 6px 0 $blue,
        8px 8px 0 $yellow,
        10px 10px 0 $purple,
        12px 12px 0 $redClear;
    }
}